#!/usr/bin/env bash
set -e

uv sync --all-extras --dev

# Install pre-commit hooks
uv run pre-commit install -f --hook-type pre-commit

# Add the virtual environment's bin directory to PATH
PATH_add .venv/bin
